#h1fonts {
    font-family: 'Monoton', cursive;
    color: #D9FDCE;
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
}

#navbar {
    font-family: 'Bungee Shade', cursive;
    background-color: #1C5A09;
    color: #D9FDCE;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0.85;
}

.nav-link {
    color: #D9FDCE;
}
/* font-family: 'Orbitron', sans-serif;
font-family: 'Ranchers', cursive;
font-family: 'Modak', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Slackey', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Monoton', cursive; */

body {
    margin: 0px; 
    padding: 0px;
    outline: none;
}

nav {
    height: 50px
}

#upperDiv {
    background-color: #1C5A09;
    margin: 0px;
    height: 900px;
    display: inline-block;
}

#aboutMeDiv {
    background-color: #D9FDCE;
    color: #1C5A09;
    height: 800px;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.divText {
    font-family: 'Orbitron', sans-serif;
}

#meSelfy {
    height: 350px;
    width: 250px;
    float: right;
    margin: 50px;
    border-radius: 20px;
}

#contactDiv {
    background-color: #D9FDCE;
    color: #1C5A09;
    height: 400px;
    margin: 40px;
    
}

#meDivWrap {
    background-color: #D9FDCE;
    height: 800px;
    margin: 0px;
    outline: none;
}

/* #aboutMeDiv {
    margin: 20px;
} */

#meTextDiv {
    margin: 40px;
}

#portDivWrap {
    background-color: #1C5A09;
}

#portfolioDiv {
    background-color: #1C5A09;
    color: #D9FDCE;
    height: 950px;
    margin: 50px;
    padding-top: 20px;
}

#contactDivWrap {
    background-color: #D9fdce;
    height: 400px;
    margin: 0px;
    padding-top: 20px;
}

#contactInfo {
    text-align: center;
    align-items: center;
       
}

#arrow {
    right: 28%;
    position: relative;
}

#envelope {
    position: relative;
    right: 7%;
    text-align: center;
}

#phone {
    left: 22%;
    position: relative;
}

.contactText {
    font-family: 'Orbitron', sans-serif;
    /* padding: 2px; */
}

footer {
    height: 125px;
    background-color: #1C5A09;
}

#github {
   
    color: #D9FDCE;
    /* float: right; */
    margin: 10px;
    
}

#linkedin {
    color: #D9FDCE;
    /* float: right; */
    margin: 10px;
}

#instagram {
    color: #D9FDCE;
    /* float: right; */
    margin: 10px;
}

#socialLinks {
    text-align: center;
}

#greaterthan {
    color: #D9FDCE;
    /* float: right; */
    margin: 10px;
}

#lessthan {
    color: #D9FDCE;
    /* float: right; */
    margin: 10px;
}

#github:hover {
    color: rgb(241, 185, 175);
}

#linkedin:hover {
    color: #96D1F9;
}

#instagram:hover {
    color: #F9F996;
}

#home:hover {
    color: #96D1F9;
}

#about:hover {
    color: rgb(241, 185, 175);
}

#portfolio:hover {
    color: #F9F996;
}

#contact:hover {
    color: rgb(216, 179, 250);
}

#figgit {
    width: 550px;
    height: 300px;
}

#caritas {
    width: 550px;
    height: 300px;
    margin: 40px;
    display: table-row;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

#root {
    width: 550px;
    height: 300px;
    float:right;
}

  a.imglink:hover img{
    opacity: 0.7;
  }

  @media screen and (max-width: 640px){
    #navbar {
        /* background-color: #177FC4;
        color: #B6E1FE; */
        font-size: 60%;
    }
    #h1fonts {
        font-size: 50px;
    }

    #aboutMeDiv {
        font-size: 60%;
    }

    #meSelfy {
        height: 190px;
        width: 135px;
        border-radius: 10px;
    }

    #figgit {
        width: 300px;
        height: 160px;
        margin: 2.5px;
        align-content: center;
    }

    #root {
        width: 300px;
        height: 160px;
        margin: 5px;
        align-content: center;
    }

    #caritas {
        width: 300px;
        height: 160px;
        margin: 2.5px;
        align-content: center;
    }

    #contactInfo {
        font-size: 50%;
    }

    .contactText {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #footer {
        font-size: 65%;
    }

    #socialLinks {
        position: relative;
        align-content: center;
        right: 10px;
    }
  }